@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19a2ae;
  height: 100vh;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

body .background-top {
  position: fixed;
  right: 35%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

body .background-bottom {
  position: fixed;
  left: 55%;
  -webkit-transform: translate(0, 40%);
          transform: translate(0, 40%);
}

@media (min-width: 1024px) {
  body .background-top {
    position: fixed;
    right: 50%;
    -webkit-transform: translate(0%, -40%);
            transform: translate(0%, -40%);
  }
  body .background-bottom {
    position: fixed;
    left: 50%;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  body .attribution {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  body .attribution {
    font-size: 1.3rem;
  }
}

@media (min-width: 800px) {
  body .attribution {
    font-size: 1.5rem;
  }
}

.wrapper {
  position: relative;
  -ms-flex-preferred-size: calc(667px * 0.57);
      flex-basis: calc(667px * 0.57);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(375px * 0.9);
  min-width: calc(375px * 0.9);
  min-height: calc(667px * 0.57);
  background-color: white;
  border-radius: 1rem;
  margin: 50px;
}

.wrapper .top {
  height: 35%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 110%;
}

.wrapper .middle {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1px #6a6f81;
          box-shadow: 0 0 1px #6a6f81;
}

.wrapper .middle__name {
  font-size: 1rem;
  margin-top: 50px;
}

.wrapper .middle__name__age {
  font-weight: 400;
  margin-left: 5px;
  color: #6a6f81;
}

.wrapper .middle__town {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6a6f81;
}

.wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25%;
  width: 100%;
  text-align: center;
}

.wrapper .bottom .stats {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  font-size: 1rem;
}

.wrapper .bottom .stats__count {
  line-height: 150%;
}

.wrapper .bottom .stats__text {
  font-size: 0.7rem;
  color: #6a6f81;
}

.wrapper .img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.attribution {
  display: block;
  text-align: center;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 700;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */