//FONTS

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// font-family: 'Kumbh Sans', sans-serif;

//COLORS 

//Primary

$clr-dark-cyan: hsl(185, 75%, 39%);
$clr-very-dark-blue:hsl(229, 23%, 23%);
$clr-dark-grayish-blue:hsl(227, 10%, 46%);

//Neutral

$clr-dark-gray: hsl(0, 0%, 59%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-dark-cyan ;
    height: 100vh;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;

    .background-top{
        position: fixed;
        right: 35%;
        transform: translate(0%, -50%);
    }
    .background-bottom{
        position: fixed;
        left: 55%;
        transform: translate(0, 40%);
    }
    @media (min-width:1024px) {
        .background-top{
            position: fixed;
            right: 50%;
            transform: translate(0%, -40%);
        }
        .background-bottom{
            position: fixed;
            left: 50%;
            transform: translate(0, 50%);
        } 
        .attribution{
            font-size: 1.5rem;
        }
    }
    @media (min-width:600px){
        .attribution{
            font-size: 1.3rem;
        }
    }
    @media (min-width:800px){
        .attribution{
            font-size: 1.5rem;
        }
    }

}

.wrapper{
    position: relative;
    flex-basis:calc(667px * 0.57) ;
    justify-content: center;
    align-items: center;
    width: calc(375px * 0.9);
    min-width: calc(375px * 0.9);
    min-height:calc(667px * 0.57) ;;
    background-color: white;
    border-radius: 1rem;
    margin: 50px;
    .top{
        height: 35%;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        background-image: url(../images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-size:110%;
    }
    .middle{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1px $clr-dark-grayish-blue;
        &__name{
            font-size: 1rem;
           margin-top: 50px;
            &__age{
                font-weight: 400;
                margin-left: 5px;
                color: $clr-dark-grayish-blue;
            }
        }
        &__town{
            margin-top: 1rem;
            font-size: 0.9rem;
            font-weight: 400;
            color: $clr-dark-grayish-blue;
        }
    }
    .bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 25%;
        width: 100%;
        text-align: center;
        .stats{
            flex-basis: 33.3%;
            font-size: 1rem;
            &__count{
                line-height: 150%;
                
            }
            &__text{
                font-size: 0.7rem;
                color: $clr-dark-grayish-blue;
            }
        }
    }
    .img{
        position: absolute;
        border-radius: 50%;
        border:5px solid white;
        top:35%;
        left:50%;
        transform: translate(-50%,-50%);
    }

}
.attribution{
    display:block;
    text-align: center;
    flex-basis: 90%;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 700;
    
    & a{
        color: hsl(228, 45%, 44%);
        text-decoration: none;
    }
}